# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 忽视 IntelliJ IDEA 的配置文件夹
.idea/

# 忽视所有 target 目录下的文件
target/
/dev-sphere-subject/dev-sphere-subject-common/target/
**/target/

*.jar
/log
*.log
/data
*.gz
/log/

*.iml
